
#d1{
    margin-top: 100px;
    width: 18%;
    margin-left: 35%;
    
}
#c{
    width:72%;
    margin-top: 2px;
}
#txt{
    width: 97%
}

.b{
    margin-top: 2px;
    width:23%;
}
#egal{
    margin-top: 2px;
    width:48%;
}